<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                    <%= new Date().getFullYear() - 1; %> - <%= new Date().getFullYear(); %> © Verniro <span class="text-muted d-none d-sm-inline-block float-right">stworzone przez <i class="mdi mdi-heart text-danger"></i> <a href="https://mayam.pl" style="color:#000; text-weight: bold;">Mayam</a></span>
            </div>
        </div>
    </div>
</footer>
