<% include ../Partials/HeaderRoot.ejs  %>

<div class="row">
	<div class="col-12">
			<div class="card m-b-20" style="text-align: center;">
													<h3 class="m-t-0">
														<img src="public/assets/images/logo.png" alt="logo" height="56"/>
													</h3>
													<h1 class="pull-right font-16 d-none d-lg-block" ><strong>Regulamin</strong></h1>

											<hr>
			</div>
	</div> <!-- end col -->
</div> <!-- end row -->


<% include ../Partials/FooterRoot  %>
