
<% include ../Partials/HeaderRoot  %>

        <!-- Loader -->
        <div id="preloader"><div id="status"><div class="spinner"></div></div></div>

        <!-- Begin page -->
        <div class="accountbg"></div>
        <div class="wrapper-page">

            <div class="card">
                <div class="card-body">

                    <h3 class="text-center m-0">
                        <a href="/" class="logo logo-admin"><img src="public/assets/images/logo.png" height="30" alt="logo"></a>
                    </h3>

                    <div class="p-3">
                        <h4 class="font-18 m-b-5 text-center">Ustaw nowe hasło</h4>
                        <p class="text-muted text-center">Wpisz nowe hasło, i zatwierdź aby je zmienić!</p>

                        <form class="form-horizontal m-t-30" action="/ustaw-haslo" method="post">
                          <input type="hidden" name="code" value="<%= code %>">
                          <div class="form-group">
                              <label>Hasło</label>
                              <div>
                                  <input type="password" id="pass2" class="form-control" name="password" required
                                         placeholder="Hasło"/>
                              </div>
                              <div class="m-t-10">
                                  <input type="password" class="form-control" required
                                         data-parsley-equalto="#pass2"
                                         placeholder="Wpisz ponownie hasło"/>
                              </div>
                          </div>

                            <div class="form-group row m-t-20">
                                <div class="col-12 text-right">
                                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Zapisz</button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

            <div class="m-t-40 text-center">
                <p class="text-white">Pamiętasz hasło ? <a href="login" class="font-500 font-14 text-white font-secondary"> Zaloguj się tutaj </a> </p>
                <p class="text-white">©  <%= new Date().getFullYear() - 1; %> - <%= new Date().getFullYear(); %> Verniro. stworzone przez <i class="mdi mdi-heart text-danger"></i> <a href="https://mayam.pl" style="color:white; text-weight: bold;">Mayam</a></p>
            </div>

        </div>
        <% include ../Partials/FooterRoot  %>
        <script type="text/javascript" src="public/assets/plugins/parsleyjs/parsley.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('form').parsley();
            });
        </script>
